{{! Each post will be output using this markup }}
{{#foreach posts}}

<article class="{{post_class}} col span_12">
  <header class="post-header">
    <h2 class="post-title">
      <a href="{{url}}">{{{title}}}</a>
    </h2>
    <p>
      <i>
        <span class="newsDate">
          {{author}} wrote this on
          <span>
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='MMM'}}
            </time>
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD'}}
            </time>
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='YYYY'}}{{#if tags}}, on {{tags}}{{/if}}.
            </time>
          </span>
        </span>
      </i>
    </p>
  </header>
  <section class="post-excerpt">
    {{content words="0"}}
    <p>{{excerpt}} <a href="{{url}}">&hellip;continue reading</a></p>
  </section>
</article>

{{/foreach}}

{{!! After all the posts, we have the previous/next pagination links }}
{{pagination}}